{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img class="bg-main" src="{% static 'images/bg-main-mobile.webp' %}" alt="pizza on wooden table - top perspective">
    <div class="subscribe">
        <p class="subscribe__text">Join us today and get free delivery!</p>
        <a href="" class="subscribe__btn btn">JOIN NOW</a>
    </div>

    <div class="pizza-carousel">
        <h2 class="pizza-carousel__title">Most popular</h2>
        <div class="pizza-carousel__item animate__animated animate__fadeIn pizza-carousel__item--active ">
            <img class="pizza-carousel__img" src="{% static 'images/pizza_01.webp' %}" alt="">
            <p class="pizza-carousel__description">Pizza one | €<span>12.99</span></p>
        </div>
        <div class="pizza-carousel__item animate__animated animate__fadeIn">
            <img class="pizza-carousel__img" src="{% static 'images/pizza_02.webp' %}" alt="">
            <p class="pizza-carousel__description">Pizza two | €<span>14.99</span></p>
        </div>
        <div class="pizza-carousel__item animate__animated animate__fadeIn">
            <img class="pizza-carousel__img" src="{% static 'images/pizza_03.webp' %}" alt="">
            <p class="pizza-carousel__description">Pizza three | €<span>16.99</span></p>
        </div>

        <a href="" class="pizza-carousel__btn btn">ORDER NOW</a>
    </div>

{% endblock content %}