{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img class="bg-main" src="{% static 'images/bg-main-mobile.webp' %}" alt="pizza on wooden table - top perspective">
    <div class="subscribe">
        <p class="subscribe__text">Join us today and get free delivery!</p>
        <a href="" class="subscribe__btn btn">JOIN NOW</a>
    </div>

    <div class="pizza-carousel">
        <h2 class="pizza-carousel__title">Most popular</h2>
        <div class="pizza-carousel__item">
            <img class="pizza-carousel__img" src="{% static 'images/pizza_01.webp' %}" alt="">
        </div>
        <div class="pizza-carousel__dots">
            <div class="pizza-carousel__dot"></div>
            <div class="pizza-carousel__dot"></div>
            <div class="pizza-carousel__dot"></div>
        </div>
        <a href="" class="pizza-carousel__btn btn">ORDER NOW</a>
    </div>

{% endblock content %}