{% extends 'base.html' %}
{% load static %}
{% block content %}
  <img class="bg-main" src="{% static 'images/bg-main-mobile.webp' %}" alt="pizza on wooden table - top perspective">
  {% if user.is_anonymous %}
    <div class="subscribe">
      <p class="subscribe__text">Join us today and get free delivery!</p>
      <a href="{% url 'account_signup' %}" class="subscribe__btn btn">
        JOIN NOW
      </a>
    </div>
  {% endif %}
  <h2 class="order-details__title">Order details</h2>
  <div class="order-details">
    <p>#{{ order.order_number }}</p>
    <p>Ordered on: {{ order.date }}</p>
    <h3>Product details</h3>
    <br>
    {% for item in order.orderitems.all %}
      <p>{{ item.quantity }}x {{ item.item }} ({{ item.item_size }}) - €{{ item.orderitem_total }}</p>
    {% endfor %}
    <br>
    <p>Delivery fee: €{{ delivery_fee|floatformat:2 }}</p>
    <p><strong>Order total: €{{ order.order_total }}</strong></p>
    <h3>Delivery details</h3>
    <p>Full name: {{ order.full_name }}</p>
    <p>Email: {{ order.email }}</p>
    <p>Phone number: {{ order.phone_number }}</p>
    <p>Addres: {{ order.street_address1 }}
      {% if order.street_address2 %}
        <span>, {{ order.street_address2 }}</span>
      {% endif %}
    </p>
    <p>City: {{ order.city }}</p>
  </div>
  <div class="btn js-back" style="margin: 0 auto 25px auto;">Back</div>
{% endblock content %}