@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&family=Staatliches&display=swap');

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, a {
    font-family: 'Lato', sans-serif;
    color: black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.main-container {
    width: 100%;
    min-height: calc(100vh - 177px - 80px);
    top: 80px;
    margin-bottom: 80px;
}

.btn {
    display: block;
    background-color: transparent;
    border: 1px solid rgb(39, 0, 146);
    border-radius: 40px;
    color: rgb(39, 0, 146);
    padding: 10px;
    width: 200px;
    font-size: 1.5rem;
    text-align: center;
}

.checkout {
    display: none;
    position: absolute;
    bottom: 10px;
    width: 100vw;
}

.checkout--active {
    display: flex;
    justify-content: center;
    align-items: center;
}


.checkout__close,
.checkout__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    padding: 15px;
    height: 80px;
    margin: 0 5px;
}

.checkout__close {
    width: 80px;
    border-radius: 50%;
    font-size: 2rem;
}

.checkout__close i {
    color: white;
}

.checkout__content {
    border-radius: 40px;
    width: 70vw;
}

.checkout__content * {
    color: white;
}

.checkout__content-title {
    font-size: 1.2rem;
    font-weight: 900;
}

/* Navbar */

.navbar__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 10px;
    background-color: rgb(39, 0, 146);
    z-index: 1;

}

.navbar__logo {
    width: 130px;
}

.navbar__button {
    font-size: 2.5rem;
}

.navbar__button i {
    color: white;
}

.navbar__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(39, 0, 146);
    color: white;
}

.navbar__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.navbar__search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    width: 80vw;
    margin: 60px auto;
}

.search__input {
    height: 50px;
    width: 70%;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    outline: none;
    background-color: white;
    color: black;

}

.search__btn i {
    display: inline-block;
    height: 50px;
    font-size: 1.8rem;
    padding: 10px;
    background-color: white;
    color: black;
}

.navbar__link {
    margin-left: 20px;
    margin-top: 20px;
}

.navbar__link a {
    color: white;
    font-size: 2.5rem;
    font-family: 'Staatliches', cursive;
}

/* Footer */

.footer {
    text-align: center;
    background-color: rgb(39, 0, 146);
    padding: 25px 0;
}

.footer__title {
    color: white;
    font-size: 1.5rem;
}

.footer__links {
    display: flex;
    justify-content: center;
}

.footer i {
    color: white;
    font-size: 2rem;
    margin: 25px 10px;
}

.footer__copyright {
    color: white;
    font-size: 0.8rem;
}


/* INDEX.HTML */

.bg-main {
    width: 100%;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: tomato;
    height: 100px;
    padding: 10px;
    top: -3px;
    text-align: center;
}

.subscribe__text,
.subscribe__btn {
    color: white;
}

.subscribe__btn {
    border-color: white;
}

.pizza-carousel {
    padding: 50px 0;
}

.pizza-carousel__title,
.about__title {
    text-align: center;
    color: rgb(39, 0, 146);
    margin-bottom: 25px;
}

.pizza-carousel__item {
    display: none;
    width: 90vw;
    margin: 0 auto;
}

.pizza-carousel__item--active {
    display: block;
}

.pizza-carousel__img {
    width: 100%;
    border-radius: 10px;
}

.pizza-carousel__description {
    text-align: center;
    color: rgba(39, 0, 146, 0.5);
}

.pizza-carousel__description span {
    color: rgb(39, 0, 146, 0.5);
}

.pizza-carousel__btn {
    margin: 25px auto;
}

.about__title {
    margin-top: 50px;
}

.about__img {
    display: block;
    width: 90vw;
    margin: 0 auto;
    border-radius: 50%;
}

.about__text {
    color: rgb(39, 0, 146);
    width: 90vw;
    margin: 25px auto 50px auto;
    text-align: justify;
    white-space: pre-line;
}

.review {
    width: 90vw;
    margin: 50px auto;
    border-radius: 10px;
    background-color: rgb(39, 0, 146);
    padding: 15px;
    padding-bottom: 100px;
}

.review__quotes {
    top: -40px;
    left: -25px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: rgb(39, 0, 146);
    border: 1px solid rgb(39, 0, 146, 0.1);
    border-radius: 50%;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 0.1;
    font-size: 6rem;
    width: 100px;
    height: 100px;
}

.review__title {
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.review__text {
    color: white;
    text-align: center;
}

.hr-index {
    border: 1px solid rgb(39, 0, 146, 0.1);
    width: 50vw;
    margin: 0 auto;
}

/* MENU.HTML */

.menu {
    padding: 25px 0 100px 0;
}

.menu__title {
    text-align: center;
    color: rgb(39, 0, 146);
    margin-bottom: 25px;
}

.product {
    display: flex;
    padding: 5px;
    border: 1px solid rgb(39, 0, 146, 0.2);
    border-radius: 5px;
    width: 95vw;
    margin: 5px auto;
}

.product * {
    color: rgb(39, 0, 146);
}

.product__img {
    height: 25vw;
    width: 25vw;
}

.product__info {
    width: 75vw;
    padding: 15px;
    padding-left: 15px;
}

.product__name {
    font-weight: 900;
}

.product__price {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* ITEM.HTML */

.item {
    padding: 20px;
}

.item * {
    color: rgb(39, 0, 146);;
}

.item__quantity {
    display: flex;
}

#item-size {
    outline: none;
    border: 1px solid rgb(39, 0, 146, 0.3);
    height: 30px;
    width: 200px;
    font-size: 1.1rem;
    text-align: center;
    background-color: white;
}

#item-quantity {
    font-size: 1.1rem;
    text-align: center;
    width: 140px;
}

.item__minus,
.item__plus {
    height: 30px;
    width: 30px;
    background-color: rgb(39, 0, 146);
    color: white;
    font-weight: 900;
    font-size: 1.4rem;
    text-align: center;
}

.item__form {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.btn--item {
    margin-top: 50px;
    width: 300px;
}

.comment {
    margin: 40px auto;
}

.comment__add {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgb(39, 0, 146, 0.4);
    border-radius: 5px;
    width: fit-content;
}

.comment__new {
    display: none;
}

#review__title {
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid rgb(39, 0, 146, 0.4);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 1.1rem;
}

#review__text {
    width: 100%;
    outline: none;
    border-color: rgb(39, 0, 146, 0.4);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

.btn--comment {
    margin: 20px auto;
}

.comment-single {
    background-color: rgb(39, 0, 146, 0.2);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-single__title {
    margin-bottom: 10px;
}

.comment-single__title p:first-of-type {
    font-weight: 900;
}

.comment-single__text {
    text-align: justify;
    white-space: pre-line;
}


/* ORDER.HTML */

.order * {
    color: rgb(39, 0, 146);
}

.order {
    margin-top: 40px;
}

.order__title {
    text-align: center;
    color: rgb(39, 0, 146);
    margin-bottom: 40px;
}

.orderitem {
    padding: 15px 5px;
    width: 95vw;
    margin: 5px auto;
    border: 1px solid rgb(39, 0, 146, 0.2);
    border-radius: 5px;
}

.orderitem__name {
    margin-bottom: 10px;
}

.orderitem__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderitem__quantity {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.orderitem__plus,
.orderitem__minus {
    display: inline-block;
    font-weight: 900;
    border: 1px solid rgb(39, 0, 146, 0.2);
    width: 21px;
    font-size: 0.9rem;
    text-align: center;
}

.orderitem__remove {
    position: absolute;
    right: 5px;
    top: 5px;
}

.btn--order {
    width: 300px;
    margin: 40px auto;
}

.hr--order {
    border: 1px solid rgb(39, 0, 146, 0.2);
    width: 80vw;
    margin: 40px auto;
}

.order__total {
    font-weight: 900;
    text-align: center;
    font-size: 1.5rem;
}

/* ALLAUTH FORMS */

.allauth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: calc(100vh - 177px - 80px);
}

.allauth__title {
    text-align: center;
    font-size: 3rem;
    color: rgb(39, 0, 146);
    margin: 25px auto; 
}

.allauth__text {
    color: rgb(39, 0, 146);
    text-align: center;
    padding: 0 10px;
    margin-bottom: 25px;
}

.allauth__form {
    width: 90vw;
    margin: 0 auto;
}

.allauth__form label {
    display: none
}

#id_login,
#id_username,
#id_email,
#id_email2,
#id_password,
#id_password1,
#id_password2 {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(39, 0, 146);
    border-radius: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding: 10px;
}

#id_login::placeholder,
#id_password::placeholder {
    color: rgba(39, 0, 146, 0.349);
    font-weight: 400;
}

.allauth__form label[for=id_remember] {
    display: inline-block;
    margin-bottom: 40px;
}

.allauth__form p:last-of-type {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.signin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.allauth__smalltext {
    text-align: center;
    margin: 25px auto;
}

.signup {
    margin: 25px auto;
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 992px) and (orientation: landscape) {
    
}