@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&family=Staatliches&display=swap');

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, a {
    font-family: 'Lato', sans-serif;
    color: black;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.main-container {
    width: 100%;
    min-height: calc(100vh - 177px - 80px);
    top: 40px;
}

.btn {
    background-color: transparent;
    border: 1px solid rgb(39, 0, 146);
    border-radius: 40px;
    color: rgb(39, 0, 146);
    padding: 10px;
    width: 200px;
    font-size: 1.5rem;
}

/* BASE.HTML */

/* Navbar */

.navbar__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 10px;
    background-color: rgb(39, 0, 146);
    z-index: 1;

}

.navbar__logo {
    width: 130px;
}

.navbar__button {
    font-size: 2.5rem;
}

.navbar__button i {
    color: white;
}

.navbar__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(39, 0, 146);
    color: white;
}

.navbar__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.navbar__search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    width: 80vw;
    margin: 60px auto;
    padding: 10px;
}

.search__input {
    height: 50px;
    width: 70%;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    outline: none;
    background-color: white;
    color: black;

}

.search__btn i {
    display: inline-block;
    height: 50px;
    font-size: 2.5rem;
    padding: 5px;
    background-color: white;
    color: black;
}

.navbar__link {
    margin-left: 20px;
    margin-top: 20px;
}

.navbar__link a {
    color: white;
    font-size: 3rem;
    font-family: 'Staatliches', cursive;
}

/* Footer */

.footer {
    text-align: center;
    background-color: rgb(39, 0, 146);
    padding: 25px 0;
}

.footer__title {
    color: white;
    font-size: 1.5rem;
}

.footer__links {
    display: flex;
    justify-content: center;
}

.footer i {
    color: white;
    font-size: 2rem;
    margin: 25px 10px;
}

.footer__copyright {
    color: white;
    font-size: 0.8rem;
}


/* INDEX.HTML */

.bg-main {
    width: 100%;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: tomato;
    height: 100px;
    padding: 10px;
    top: -3px;
    text-align: center;
}

.subscribe__text,
.subscribe__btn {
    color: white;
}

.subscribe__btn {
    border-color: white;
}


/* ALLAUTH FORMS */

.allauth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.allauth__title {
    font-size: 3rem;
    color: rgb(39, 0, 146);
    margin-bottom: 40px;
}

.login {
    width: 90vw;
    margin: 0 auto;
}

.login label {
    display: none
}

#id_login,
#id_password {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(39, 0, 146);
    border-radius: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding: 10px;
}

#id_login::placeholder,
#id_password::placeholder {
    color: rgba(39, 0, 146, 0.349);
    font-weight: 400;
}

.login label[for=id_remember] {
    display: inline-block;
    margin-bottom: 40px;
}

.login p:last-of-type {
    text-align: center;
}

.center {
    text-align: center;
}

.signin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 992px) and (orientation: landscape) {
    
}