{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img class="bg-main" src="{% static 'images/bg-main-mobile.webp' %}" alt="pizza on wooden table - top perspective">
    {% if user.is_anonymous %}
        <div class="subscribe">
            <p class="subscribe__text">Join us today and get free delivery!</p>
            <a href="{% url 'account_signup' %}" class="subscribe__btn btn">JOIN NOW</a>
        </div>
    {% endif %}

    <div class="new-product">
        <form action="{% url 'edit_product' item.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="">Back</a>
            <button type="submit">Edit product</button>
        </form>
    </div>


{% endblock content %}