{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img class="bg-main" src="{% static 'images/bg-main-mobile.webp' %}" alt="pizza on wooden table - top perspective">
    <div class="subscribe">
        <p class="subscribe__text">Join us today and get free delivery!</p>
        <a href="" class="subscribe__btn btn">JOIN NOW</a>
    </div>
    <div class="item">
        <h2 class="item__title">Pizza name</h2>
        <p class="item__description">( ingredients )</p>

        <form action="" method="post" class="item__form">
            <select id="item-size" name="size" id="size">
                <option value="small">Small</option>
                <option value="normal" selected>Normal</option>
                <option value="large">Large</option>
            </select>
            
            <div class="item__quantity">
                <div class="item__minus">-</div>
                <input type="number" name="quantity" id="item-quantity" min="1" value="1" disabled>
                <div class="item__plus">+</div>
            </div>

            <div class="center">
                <button class="btn btn--item" type="submit">
                    Add to order for €<span>200.00</span>
                </button>
            </div>

        </form>

        <hr class="hr-index">



    </div>


{% endblock content %}