{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img class="bg-main" src="{% static 'images/bg-main-mobile.webp' %}" alt="pizza on wooden table - top perspective">
    <div class="subscribe">
        <p class="subscribe__text">Join us today and get free delivery!</p>
        <a href="{% url 'account_signup' %}" class="subscribe__btn btn">JOIN NOW</a>
    </div>
    <div class="item">
        <h2 class="item__title">{{ item.name }}</h2>
        <p class="item__description">{{ item.ingredients }}</p>

        <form action="" method="post" class="item__form">
            <select id="item-size" name="size">
                <option value="small">Small</option>
                <option value="normal" selected>Normal</option>
                <option value="large">Large</option>
            </select>
            
            <div class="item__quantity">
                <div class="item__minus">-</div>
                <input type="number" name="quantity" id="item-quantity" min="1" value="1" >
                <div class="item__plus">+</div>
            </div>

            <div class="center">
                <button class="btn btn--item" type="submit">
                    Add to order for €<span id="item-price">{{ item.price }}</span>
                </button>
            </div>

        </form>

        <hr class="hr-index">

        <div class="comment">
            <h2 class="comment__title">Rating</h2>
            <p class="comment__add">Leave a review</p>
            <form class="comment__new" action="">
                <input type="text" id="review__title" name="review__title" placeholder="Review title">
                <textarea name="review__text" id="review__text" cols="30" rows="10"></textarea>
                <div class="center">
                    <button class="btn btn--comment" type="submit">Post</button>
                </div>
            </form>
            <div class="comment-single">
                <div class="comment-single__title">
                    <p>Title</p>
                    <p>User</p>
                </div>
                <div class="comment-single__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, voluptates. Similique dolorum voluptatibus, quam maxime porro commodi. Error, dicta mollitia.
                </div>
            </div>
            <div class="comment-single">
                <div class="comment-single__title">
                    <p>Title</p>
                    <p>User</p>
                </div>
                <div class="comment-single__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, voluptates. Similique dolorum voluptatibus, quam maxime porro commodi. Error, dicta mollitia.
                </div>
            </div>            <div class="comment-single">
                <div class="comment-single__title">
                    <p>Title</p>
                    <p>User</p>
                </div>
                <div class="comment-single__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, voluptates. Similique dolorum voluptatibus, quam maxime porro commodi. Error, dicta mollitia.
                </div>
            </div>            <div class="comment-single">
                <div class="comment-single__title">
                    <p>Title</p>
                    <p>User</p>
                </div>
                <div class="comment-single__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, voluptates. Similique dolorum voluptatibus, quam maxime porro commodi. Error, dicta mollitia.
                </div>
            </div>            <div class="comment-single">
                <div class="comment-single__title">
                    <p>Title</p>
                    <p>User</p>
                </div>
                <div class="comment-single__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, voluptates. Similique dolorum voluptatibus, quam maxime porro commodi. Error, dicta mollitia.
                </div>
            </div>            <div class="comment-single">
                <div class="comment-single__title">
                    <p>Title</p>
                    <p>User</p>
                </div>
                <div class="comment-single__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, voluptates. Similique dolorum voluptatibus, quam maxime porro commodi. Error, dicta mollitia.
                </div>
            </div>
        </div>

    </div>


{% endblock content %}