{% extends 'base.html' %}
{% load static %}
{% block content %}
    <img class="bg-main" src="{% static 'images/bg-main-mobile.webp' %}" alt="pizza on wooden table - top perspective">
    <div class="subscribe">
        <p class="subscribe__text">Join us today and get free delivery!</p>
        <a href="{% url 'account_signup' %}" class="subscribe__btn btn">JOIN NOW</a>
    </div>
    <div class="menu">
        <h2 class="menu__title">Choose your pizza</h2>

        {% for item in items %}
        <a href="{% url 'item' %}" class="product">
            <img src="{{ item.image.url }}" alt="" class="product__img">
            <div class="product__info">
                <h3 class="product__name">{{ item.name }}</h3>
                <p class="product__description">{{ item.ingredients }}</p>
                <p class="product__price">
                    €<span>{{ item.price }}</span>
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
    


{% endblock content %}