{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Join us" %}{% endblock %}

{% block content %}
<div class="allauth">
  <h1 class="allauth__title">{% trans "Join us" %}</h1>
  
  <form class="signup allauth__form" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="center">
      <button class="btn signup" type="submit">{% trans "Join us" %} &raquo;</button>
    </div>
  </form>
  <div class="center">
    <p class="allauth__smalltext">{% blocktrans %}Already have an account? Then please sign in <a href="{{ login_url }}">HERE</a>.{% endblocktrans %}</p>
  </div>

</div>


{% endblock %}
